Checks: |
    boost-*,
    bugprone-*,
    cert-*,
    cppcoreguidelines-*,
    -clang-analyzer-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -readability-magic-numbers,
    -readability-qualified-auto,
    -readability-implicit-bool-conversion,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-type-union-access,
    -readability-uppercase-literal-suffix,
    -modernize-use-trailing-return-type,
    -cppcoreguidelines-pro-type-union-accessti